.App {
  text-align: center;
  font-family: 'Nunito';
  background-color: #F8F8F8;
}

@media (min-width: 360px){
  .App{
    width: 100%;
    min-width: 360px;
    height: auto;
  }
}
@media(min-width: 768px){
.App{
    width: 100%;
    min-width: 768px;
    height: auto;
  }
}
@media(min-width: 1024px){
.App{
    width: 100%;
    min-width: 1024px;
    height: auto;
  }
}
@media(min-width: 2560px){
.App{
    width: 100%;
    min-width: 2560px;
    height: auto;
  }
}
#button1{
    position:relative;
    bottom:-125px;
    left: -112px;
}
#content1{
    margin:0;
}